.topo {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 8pt;
    color: white;
    margin: 2px 35px 0px;
}

.cabecalho {
    float: left;
    margin: auto;
    display:flex;
    justify-content:left;
    align-items:flex-start;
    margin: 3px 1px 0px;
    height: 100px;
}

.academia {
    margin: 0px 5px 0px;

}

h1 {
    height: 50px;
}

body {
    background-color: #012424;
    height: 50%;
    width: 50%;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
    color: white;
    text-decoration:wavy;
}

.abas_iniciais {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h3 {
    font-size: 20pt;
}

h4 {
    font-size: 20pt;
}

.botao-cadastro {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    color: white;
    background-color:#025353;
    display: flex;
    border-radius: 4px;
    justify-content:center;
    align-items:baseline;
    margin: 0px 1180px 0px;
    height: 24px;
    }

.abas_iniciais{
    background-color: #012424;
    width:950px;
    border-radius: 3px;
    height: 25px;
    margin: 8px 225px 0px;
}

.abas_iniciais ul {
     width: 100%;
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content:right;
     align-items: center;
     text-decoration: none;
     font-size: 15pt;
}

.abas_iniciais li {
    display: flex;
    width: 1000px;
    height: 150px;
    align-items:baseline;
    justify-content:space-evenly;
}

a {
    text-decoration: none;
    color: white;
}

.linha {
    color: white;
    border-radius: 2px;
    height: 1px;
    width: 500px;
    margin: 0px 500px 0px;
}

hr {
    margin: 280px 0px 0px;
    border-radius: 3px;
    height: 6px;
    width: 350px;
    background: #012424;
    background: linear-gradient(to bottom right, #0DCDB1, #0AE361);
}

.linha {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    color: white;
    display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: space-around;
}

.coluna {
    display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 5px;
  padding: 5px 5px;
  }


.textinho {
    font-size: 1.4vw;
    text-indent: 1.25cm;
    text-align: justify;
    margin: 20px 0px 0px; ;
}

.corpo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.mulher_academia {
    margin: 30px 800px 0px;
}

.gradiente {
    margin: 100px 400px 0px;
    width: 500px;
}

.beneficios {
    color: #06684a;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    width: 300px;
  text-align: center;
  background-color: #00FF7F;
  font-weight: bolder;
  border-radius: 0px;
  margin: 30px 500px 0px;
}

.peso_academia {
    float: left;
    margin: auto;
    display:flex;
    justify-content:left;
    align-items:flex-start;
    margin: 3px 200px 0px;
    height: 100px;;
}

.seguranca {
    margin: 25px 100px 0px;
}

.bem-estar {
    margin: 30px 70px 0px;
}

.tecnologia {
    margin: 0px 30px 0px;
}

.simbolos {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    float: left;
    margin: auto;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    margin: 20px 160px 0px;
    height: 100px;
}

.equipamentos {
     margin: 20px 60px 0px;
}

.tech {
    margin:20px 150px 0px;
}

.tec {
    margin: 20px 10px 0px;
}

.linha_fina {
    height: 0.5px;
    width: 1000px;
    color: black;
    margin: 100px 150px 0px;
    background-color: black;
}

.rodape {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  background-color: #012424;
  color: #0cdd05;
  font-size: 8pt;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 50px 300px 0px;
} 
